In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
!ls

Battling_Life_Expectancy_Decline
Life Expectancy Data EDA Eddie.ipynb
NCD_RisC_Lancet_2017_BMI_age_standardised_United States of America.csv
README.md
United States of America.csv
health_ineq_all_online_tables.xlsx
health_ineq_online_table_1.csv
health_ineq_online_table_2.csv
health_ineq_online_table_5.csv

### State, Year, Gender, Income, Quartile (1)

- gnd: Gender
- pctile: Household Income Percentile
- count: Count
- hh_inc: Mean Household Income
- hh_inc_age40: Mean Household Income, Age 40
- le_raceadj: Race-Adjusted Life Expectancy
- le_agg: Unadjusted Life Expectancy
- sd_le_raceadj: Standard Error of Race-Adjusted Life Expectancy
- sd_le_agg: Standard Error of Unadjusted Life Expectancy

In [3]:
df_five = pd.read_csv('./health_ineq_online_table_5.csv')

In [4]:
df_five.head()

,st,stateabbrv,statename,year,le_agg_q1_F,le_raceadj_q1_F,le_agg_q2_F,le_raceadj_q2_F,le_agg_q3_F,le_raceadj_q3_F,...,sd_le_agg_q4_M,sd_le_raceadj_q4_M,count_q1_F,count_q2_F,count_q3_F,count_q4_F,count_q1_M,count_q2_M,count_q3_M,count_q4_M
0,1,AL,Alabama,2001,80.977432,81.736870,83.797836,84.270462,85.225906,85.575615,...,1.277106,1.238102,194089,158475,147619,120205,165515,160929,143569,113529
1,1,AL,Alabama,2002,81.550888,82.294128,85.195564,85.626312,86.955605,87.244286,...,1.313188,1.272126,204031,162615,148026,116868,172638,163867,145058,110186
2,1,AL,Alabama,2003,80.669098,81.446388,84.455032,84.912849,84.418884,84.798073,...,1.291976,1.252970,207635,163953,149117,119178,174545,164215,145901,112692
3,1,AL,Alabama,2004,82.787102,83.548531,83.221657,83.739426,85.775658,86.119102,...,0.937085,0.901302,209570,166413,149730,122762,175617,165009,147526,115676
4,1,AL,Alabama,2005,81.994995,82.799507,84.921387,85.402199,86.136047,86.473816,...,1.133858,1.095498,209463,167581,151420,126151,174581,166114,148807,119517

In [51]:
# Top 10 worst life expectancy
df_five[(df_five['le_raceadj_q2_M']>70)& (df_five['year']>2009)][['year','le_raceadj_q2_M','statename']].sort_values('le_raceadj_q2_M',ascending=True)[:11]

     year  le_raceadj_q2_M             statename
124  2013        77.767258  District Of Columbia
517  2014        78.302902              Oklahoma
516  2013        78.383972              Oklahoma
404  2013        78.502121                Nevada
24   2011        78.562119                Alaska
712  2013        78.575363               Wyoming
683  2012        78.920036         West Virginia
138  2013        78.972046               Florida
121  2010        79.027603  District Of Columbia
53   2012        79.043114              Arkansas
250  2013        79.195328              Kentucky

In [52]:
# Top 10 best life Expectancy
df_five[(df_five['le_raceadj_q2_M']>70)& (df_five['year']>2009)][['year','le_raceadj_q2_M','statename']].sort_values('le_raceadj_q2_M',ascending=False)[:11]

     year  le_raceadj_q2_M             statename
374  2011        86.277458               Montana
376  2013        85.488327               Montana
642  2013        84.860336               Vermont
643  2014        84.701164               Vermont
375  2012        84.603172               Montana
277  2012        84.503654                 Maine
391  2014        84.462471              Nebraska
377  2014        84.423424               Montana
373  2010        84.416367               Montana
123  2012        84.383736  District Of Columbia
487  2012        84.272293          North Dakota

In [5]:
df_five.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 44 columns):
st                    714 non-null int64
stateabbrv            714 non-null object
statename             714 non-null object
year                  714 non-null int64
le_agg_q1_F           714 non-null float64
le_raceadj_q1_F       714 non-null float64
le_agg_q2_F           714 non-null float64
le_raceadj_q2_F       714 non-null float64
le_agg_q3_F           714 non-null float64
le_raceadj_q3_F       714 non-null float64
le_agg_q4_F           714 non-null float64
le_raceadj_q4_F       714 non-null float64
le_agg_q1_M           714 non-null float64
le_raceadj_q1_M       714 non-null float64
le_agg_q2_M           714 non-null float64
le_raceadj_q2_M       714 non-null float64
le_agg_q3_M           714 non-null float64
le_raceadj_q3_M       714 non-null float64
le_agg_q4_M           714 non-null float64
le_raceadj_q4_M       714 non-null float64
sd_le_agg_q1_F        714 non-null float64
sd_le_raceadj_q1_F    714 non-null float64
sd_le_agg_q2_F        714 non-null float64
sd_le_raceadj_q2_F    714 non-null float64
sd_le_agg_q3_F        714 non-null float64
sd_le_raceadj_q3_F    714 non-null float64
sd_le_agg_q4_F        714 non-null float64
sd_le_raceadj_q4_F    714 non-null float64
sd_le_agg_q1_M        714 non-null float64
sd_le_raceadj_q1_M    714 non-null float64
sd_le_agg_q2_M        714 non-null float64
sd_le_raceadj_q2_M    714 non-null float64
sd_le_agg_q3_M        714 non-null float64
sd_le_raceadj_q3_M    714 non-null float64
sd_le_agg_q4_M        714 non-null float64
sd_le_raceadj_q4_M    714 non-null float64
count_q1_F            714 non-null int64
count_q2_F            714 non-null int64
count_q3_F            714 non-null int64
count_q4_F            714 non-null int64
count_q1_M            714 non-null int64
count_q2_M            714 non-null int64
count_q3_M            714 non-null int64
count_q4_M            714 non-null int64
dtypes: float64(32), int64(10), object(2)
memory usage: 245.5+ KB

In [6]:
df_five[]

,st,year,le_agg_q1_F,le_raceadj_q1_F,le_agg_q2_F,le_raceadj_q2_F,le_agg_q3_F,le_raceadj_q3_F,le_agg_q4_F,le_raceadj_q4_F,...,sd_le_agg_q4_M,sd_le_raceadj_q4_M,count_q1_F,count_q2_F,count_q3_F,count_q4_F,count_q1_M,count_q2_M,count_q3_M,count_q4_M
count,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,...,714.000000,714.000000,7.140000e+02,7.140000e+02,7.140000e+02,7.140000e+02,7.140000e+02,7.140000e+02,7.140000e+02,7.140000e+02
mean,28.960784,2007.500000,82.559990,82.725061,85.151963,85.269795,86.574548,86.672843,88.088110,88.139025,...,1.308834,1.272129,2.104048e+05,2.146409e+05,2.155960e+05,2.157251e+05,1.979603e+05,2.059692e+05,2.078913e+05,2.081362e+05
std,15.687825,4.033955,1.678479,1.446507,1.620434,1.592117,1.700261,1.726631,2.013565,1.997225,...,0.706053,0.690915,2.437072e+05,2.247096e+05,2.143727e+05,2.508055e+05,2.359005e+05,2.135078e+05,2.053554e+05,2.464614e+05
min,1.000000,2001.000000,75.444153,76.112350,78.371361,79.222771,81.104019,79.390793,78.425491,78.762444,...,0.295611,0.328059,1.615200e+04,1.709800e+04,1.419300e+04,1.535500e+04,1.581100e+04,1.543300e+04,1.075300e+04,1.432200e+04
25%,16.000000,2004.000000,81.505823,81.834913,84.181148,84.315470,85.384456,85.579628,87.017717,87.079212,...,0.774101,0.744992,5.304600e+04,6.387975e+04,6.434900e+04,4.793450e+04,5.124550e+04,6.352300e+04,6.144750e+04,4.542325e+04
50%,29.000000,2007.500000,82.404229,82.697369,85.189022,85.296550,86.666851,86.775719,88.243115,88.301083,...,1.110238,1.070936,1.439450e+05,1.534070e+05,1.477885e+05,1.202490e+05,1.355280e+05,1.497065e+05,1.423725e+05,1.135115e+05
75%,42.000000,2011.000000,83.633732,83.626989,86.087175,86.204198,87.725759,87.849411,89.433594,89.495972,...,1.708765,1.668618,2.352665e+05,2.533330e+05,2.803420e+05,3.005165e+05,2.196000e+05,2.452780e+05,2.771838e+05,2.913432e+05
max,56.000000,2014.000000,89.063744,89.106964,90.739441,90.718903,91.550674,91.996849,92.635323,92.655823,...,3.797033,3.800692,1.315462e+06,1.222994e+06,1.187686e+06,1.496921e+06,1.318657e+06,1.183594e+06,1.117670e+06,1.478519e+06

In [7]:
df_five['year'].value_counts()

2014    51
2013    51
2012    51
2011    51
2010    51
2009    51
2008    51
2007    51
2006    51
2005    51
2004    51
2003    51
2002    51
2001    51
Name: year, dtype: int64

In [8]:
df_five.nunique()

st                     51
stateabbrv             51
statename              51
year                   14
le_agg_q1_F           714
le_raceadj_q1_F       714
le_agg_q2_F           713
le_raceadj_q2_F       713
le_agg_q3_F           714
le_raceadj_q3_F       713
le_agg_q4_F           714
le_raceadj_q4_F       713
le_agg_q1_M           714
le_raceadj_q1_M       714
le_agg_q2_M           714
le_raceadj_q2_M       713
le_agg_q3_M           714
le_raceadj_q3_M       714
le_agg_q4_M           714
le_raceadj_q4_M       714
sd_le_agg_q1_F        714
sd_le_raceadj_q1_F    714
sd_le_agg_q2_F        714
sd_le_raceadj_q2_F    714
sd_le_agg_q3_F        714
sd_le_raceadj_q3_F    714
sd_le_agg_q4_F        714
sd_le_raceadj_q4_F    714
sd_le_agg_q1_M        714
sd_le_raceadj_q1_M    714
sd_le_agg_q2_M        714
sd_le_raceadj_q2_M    714
sd_le_agg_q3_M        714
sd_le_raceadj_q3_M    714
sd_le_agg_q4_M        714
sd_le_raceadj_q4_M    714
count_q1_F            714
count_q2_F            714
count_q3_F            712
count_q4_F            713
count_q1_M            714
count_q2_M            712
count_q3_M            713
count_q4_M            713
dtype: int64

### Gender, Income, Percentile (1)

In [9]:
df_one = pd.read_csv('./health_ineq_online_table_1.csv')

In [10]:
df_one.head()

,gnd,pctile,count,hh_inc,hh_inc_age40,le_agg,le_raceadj,sd_le_agg,sd_le_raceadj
0,F,1,7098335,432.78204,383.32544,78.526276,78.783836,0.052538,0.062370
1,F,2,7120033,1919.11570,1681.78040,80.291382,80.462410,0.056187,0.064146
2,F,3,7131115,3718.21560,3344.08740,81.043648,81.168098,0.056927,0.065437
3,F,4,7135812,5466.63870,5051.83450,81.434181,81.530678,0.058089,0.065256
4,F,5,7140055,7089.42870,6671.77880,81.548515,81.628853,0.058225,0.064854

In [11]:
df_one['gnd'].value_counts()

M    100
F    100
Name: gnd, dtype: int64

In [13]:
df_one[ df_one['pctile']==1 ]

,gnd,pctile,count,hh_inc,hh_inc_age40,le_agg,le_raceadj,sd_le_agg,sd_le_raceadj
0,F,1,7098335,432.78204,383.32544,78.526276,78.783836,0.052538,0.062370
100,M,1,6767752,356.23605,284.14658,72.374809,72.742783,0.042176,0.057908

In [14]:
df_one['pctile'].value_counts()

100    2
37     2
27     2
28     2
29     2
30     2
31     2
32     2
33     2
34     2
35     2
36     2
38     2
99     2
39     2
40     2
41     2
42     2
43     2
44     2
45     2
46     2
47     2
48     2
26     2
25     2
24     2
23     2
2      2
3      2
      ..
95     2
96     2
97     2
98     2
77     2
75     2
52     2
74     2
53     2
54     2
55     2
56     2
57     2
58     2
59     2
60     2
61     2
62     2
63     2
64     2
65     2
66     2
67     2
68     2
69     2
70     2
71     2
72     2
73     2
1      2
Name: pctile, Length: 100, dtype: int64

### Year, Gender, Income Percentile (1)

In [15]:
df_two = pd.read_csv('./health_ineq_online_table_2.csv')

In [34]:
df_two.head()

,gnd,pctile,year,count,hh_inc,le_agg,le_raceadj,sd_le_agg,sd_le_raceadj
0,F,1,2001,398740,499.10938,79.682068,79.893463,0.392838,0.385240
1,F,1,2002,411159,541.30695,79.183594,79.410622,0.353981,0.346817
2,F,1,2003,420298,529.13910,79.364410,79.572174,0.364780,0.359097
3,F,1,2004,427728,499.29950,79.898407,80.092476,0.352018,0.347992
4,F,1,2005,433665,474.14536,80.283600,80.465935,0.334612,0.330986

In [16]:
df_two.describe()

,pctile,year,count,hh_inc,le_agg,le_raceadj,sd_le_agg,sd_le_raceadj
count,2800.000000,2800.000000,2800.000000,2.800000e+03,2800.000000,2800.000000,2800.000000,2800.000000
mean,50.500000,2007.500000,433773.845714,9.764774e+04,83.627406,83.672665,0.560205,0.550729
std,28.871226,4.031849,18872.974468,1.977964e+05,3.657129,3.600353,0.107541,0.106312
min,1.000000,2001.000000,387717.000000,1.375935e+02,67.862122,68.343384,0.179007,0.185262
25%,25.750000,2004.000000,421633.000000,3.083662e+04,81.774229,81.858478,0.494333,0.485487
50%,50.500000,2007.500000,436506.000000,6.119835e+04,84.143944,84.189407,0.560017,0.550386
75%,75.250000,2011.000000,445446.500000,1.048515e+05,86.313641,86.306168,0.624831,0.614215
max,100.000000,2014.000000,462127.000000,2.435930e+06,91.120705,91.076477,0.998827,0.974649

In [17]:
df_two[df_two['year']==2013]

,gnd,pctile,year,count,hh_inc,le_agg,le_raceadj,sd_le_agg,sd_le_raceadj
12,F,1,2013,455050,4.110872e+02,79.299332,79.464867,0.351082,0.348145
26,F,2,2013,455623,1.892213e+03,80.890282,81.009857,0.361307,0.355262
40,F,3,2013,455966,3.697619e+03,81.097275,81.203835,0.404803,0.397393
54,F,4,2013,456188,5.417929e+03,82.286598,82.357407,0.417711,0.410972
68,F,5,2013,456283,6.929745e+03,81.773514,81.841492,0.422780,0.417888
82,F,6,2013,456402,8.295634e+03,82.295021,82.338539,0.426042,0.419626
96,F,7,2013,456575,9.433200e+03,82.335449,82.378761,0.438805,0.430100
110,F,8,2013,456550,1.045085e+04,81.917633,81.963959,0.450530,0.441690
124,F,9,2013,456727,1.155461e+04,82.353447,82.382095,0.465276,0.456542
138,F,10,2013,456703,1.260444e+04,82.409325,82.427071,0.488457,0.477533
152,F,11,2013,456873,1.354442e+04,83.154221,83.134506,0.455686,0.448272
166,F,12,2013,456886,1.448808e+04,82.001259,82.021011,0.520982,0.507764
180,F,13,2013,456926,1.541986e+04,83.095993,83.079178,0.478541,0.470809
194,F,14,2013,456936,1.633798e+04,83.705574,83.688248,0.505943,0.496559
208,F,15,2013,457094,1.724508e+04,83.215439,83.208229,0.502250,0.492323
222,F,16,2013,457074,1.815741e+04,84.121056,84.098007,0.477867,0.468842
236,F,17,2013,457136,1.907713e+04,83.947365,83.938789,0.529363,0.518259
250,F,18,2013,457088,2.000116e+04,84.553307,84.521095,0.460813,0.452131
264,F,19,2013,456941,2.092513e+04,83.880554,83.863869,0.484851,0.476114
278,F,20,2013,457239,2.184667e+04,83.448746,83.447365,0.531209,0.519553
292,F,21,2013,457097,2.276834e+04,84.119637,84.116989,0.507973,0.498005
306,F,22,2013,457263,2.368997e+04,83.466263,83.485985,0.558156,0.546117
320,F,23,2013,457269,2.462263e+04,84.207756,84.211845,0.525920,0.515690
334,F,24,2013,457343,2.556637e+04,85.358322,85.342278,0.494632,0.486421
348,F,25,2013,457287,2.652295e+04,84.933502,84.921051,0.516894,0.507226
362,F,26,2013,457390,2.748659e+04,85.546471,85.515663,0.463019,0.455857
376,F,27,2013,457219,2.845693e+04,84.179932,84.180397,0.560039,0.547936
390,F,28,2013,457317,2.943785e+04,84.781067,84.774055,0.544687,0.534207
404,F,29,2013,457363,3.042309e+04,85.468903,85.453972,0.533167,0.523374
418,F,30,2013,457366,3.141671e+04,84.632103,84.635918,0.558420,0.546100
...,...,...,...,...,...,...,...,...,...
2392,M,71,2013,438593,9.492470e+04,86.239601,86.305290,0.498757,0.487878
2406,M,72,2013,438539,9.708943e+04,85.612778,85.698090,0.556627,0.543259
2420,M,73,2013,438621,9.932108e+04,85.769867,85.848663,0.533860,0.522950
2434,M,74,2013,438635,1.016373e+05,86.100662,86.167938,0.531539,0.521075
2448,M,75,2013,438673,1.040422e+05,86.451797,86.521263,0.576481,0.565017
2462,M,76,2013,438650,1.065451e+05,84.808090,84.915062,0.646165,0.631828
2476,M,77,2013,438679,1.091543e+05,86.361809,86.427887,0.556075,0.543965
2490,M,78,2013,438751,1.118803e+05,85.106880,85.200821,0.624898,0.611571
2504,M,79,2013,438664,1.147546e+05,85.383820,85.472084,0.613052,0.602026
2518,M,80,2013,438737,1.177983e+05,86.013695,86.080444,0.604121,0.593593
2532,M,81,2013,438732,1.210321e+05,86.126678,86.191124,0.597964,0.587130
2546,M,82,2013,438747,1.244890e+05,86.865875,86.924629,0.585852,0.574135
2560,M,83,2013,438753,1.282220e+05,86.343231,86.407394,0.573109,0.562778
2574,M,84,2013,438817,1.322529e+05,86.150383,86.224571,0.620123,0.610767
2588,M,85,2013,438792,1.366186e+05,86.852432,86.910843,0.587420,0.576448
2602,M,86,2013,438810,1.413646e+05,85.998184,86.083153,0.660038,0.647395
2616,M,87,2013,438839,1.465826e+05,86.111099,86.190651,0.663479,0.652914
2630,M,88,2013,438905,1.523427e+05,85.582756,85.679817,0.690472,0.677761
2644,M,89,2013,438834,1.587698e+05,87.430168,87.482384,0.563198,0.556102
2658,M,90,2013,438810,1.660246e+05,87.062599,87.129425,0.584852,0.574276
2672,M,91,2013,438906,1.744201e+05,86.867615,86.948219,0.608823,0.595910
2686,M,92,2013,438879,1.842677e+05,87.798271,87.874283,0.607467,0.595578
2700,M,93,2013,438873,1.960953e+05,87.222610,87.316841,0.598831,0.587075
2714,M,94,2013,438911,2.107733e+05,87.261612,87.373863,0.625164,0.610447
2728,M,95,2013,438961,2.296947e+05,87.242607,87.374046,0.670900,0.653538
2742,M,96,2013,438943,2.555965e+05,87.902351,88.012238,0.591685,0.578377
2756,M,97,2013,438956,2.942367e+05,88.797180,88.894417,0.550782,0.535881
2770,M,98,2013,438961,3.591324e+05,87.626205,87.766136,0.629535,0.611310
2784,M,99,2013,438981,4.946097e+05,88.653549,88.766502,0.561628,0.543979
2798,M,100,2013,439032,1.809494e+06,88.823898,88.934837,0.576337,0.556298

### Blood Pressure (2)

In [18]:
!ls

Battling_Life_Expectancy_Decline
Life Expectancy Data EDA Eddie.ipynb
NCD_RisC_Lancet_2017_BMI_age_standardised_United States of America.csv
README.md
United States of America.csv
health_ineq_all_online_tables.xlsx
health_ineq_online_table_1.csv
health_ineq_online_table_2.csv
health_ineq_online_table_5.csv

In [20]:
df_bld_pressure = pd.read_csv('./United States of America.csv')

In [26]:
cat_columns = df_bld_pressure.columns[1:3]
for col in cat_columns:
    print(col)
    print(df_bld_pressure[col].value_counts())

Sex
Men      41
Women    41
Name: Sex, dtype: int64
Year
2015    2
1994    2
1992    2
1991    2
1990    2
1989    2
1988    2
1987    2
1986    2
1985    2
1984    2
1983    2
1982    2
1981    2
1980    2
1979    2
1978    2
1977    2
1976    2
1993    2
1995    2
2014    2
1996    2
2013    2
2012    2
2011    2
2010    2
2009    2
2008    2
2007    2
2006    2
2005    2
2004    2
2003    2
2002    2
2001    2
2000    2
1999    2
1998    2
1997    2
1975    2
Name: Year, dtype: int64

In [27]:
df_bld_pressure.head()

,Country,Sex,Year,Age-standardised mean systolic blood pressure (mmHg),Age-standardised mean systolic blood pressure lower 95% uncertainty interval (mmHg),Age-standardised mean systolic blood pressure upper 95% uncertainty interval (mmHg),Age-standardised mean diastolic blood pressure (mmHg),Age-standardised mean diastolic blood pressure lower 95% uncertainty interval (mmHg),Age-standardised mean diastolic blood pressure upper 95% uncertainty interval (mmHg),Age-standardised prevalence of raised blood pressure,Age-standardised prevalence of raised blood pressure lower 95% uncertainty interval,Age-standardised prevalence of raised blood pressure upper 95% uncertainty interval,Crude prevalence of raised blood pressure,Crude prevalence of raised blood pressure lower 95% uncertainty interval,Crude prevalence of raised blood pressure upper 95% uncertainty interval,Number of adults with raised blood pressure,Number of adults with raised blood pressure lower 95% uncertainty interval,Number of adults with raised blood pressure upper 95% uncertainty interval
0,United States of America,Men,1975,130.747823,127.283938,134.159480,81.034313,78.653004,83.399224,0.304458,0.223372,0.396952,0.305873,0.224957,0.397514,2.236347e+07,1.625539e+07,2.935587e+07
1,United States of America,Men,1976,130.277676,127.224535,133.290782,80.613884,78.478848,82.708149,0.297352,0.221802,0.381790,0.297968,0.223160,0.380814,2.213773e+07,1.641179e+07,2.856802e+07
2,United States of America,Men,1977,129.805036,127.046662,132.503516,80.193077,78.298577,82.085942,0.290245,0.220613,0.366096,0.290364,0.221812,0.364878,2.189734e+07,1.648811e+07,2.784962e+07
3,United States of America,Men,1978,129.335307,126.802576,131.791651,79.778399,78.024887,81.479898,0.283244,0.218717,0.352117,0.283093,0.219953,0.350524,2.165657e+07,1.656168e+07,2.719215e+07
4,United States of America,Men,1979,128.865084,126.579086,131.154114,79.368553,77.781794,80.936538,0.276323,0.216485,0.339089,0.276030,0.217518,0.337112,2.142146e+07,1.661088e+07,2.660490e+07